### Objective: To analyse the provided data set to find out driving factors behind a loan default

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")

In [3]:
#Reading the csv file
data  = pd.read_csv("loan.csv")
df = data.copy()  #Making a copy of the data to work with
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

**Only rows with "Charged Off" and "Fully paid" as loan status are required for analysis, therefore subsetting the dataframe**

In [5]:
df = df[df["loan_status"]!="Current"]

In [6]:
df.shape

(38577, 111)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.0+ MB

In [8]:
df.columns = [i.capitalize() for i in df.columns]

## DATA CLEANING

In [9]:
#total missing values in each column
((df.isna().sum().head(60)/len(df.index))*100).round(2)

Id                               0.00
Member_id                        0.00
Loan_amnt                        0.00
Funded_amnt                      0.00
Funded_amnt_inv                  0.00
Term                             0.00
Int_rate                         0.00
Installment                      0.00
Grade                            0.00
Sub_grade                        0.00
Emp_title                        6.19
Emp_length                       2.68
Home_ownership                   0.00
Annual_inc                       0.00
Verification_status              0.00
Issue_d                          0.00
Loan_status                      0.00
Pymnt_plan                       0.00
Url                              0.00
Desc                            32.47
Purpose                          0.00
Title                            0.03
Zip_code                         0.00
Addr_state                       0.00
Dti                              0.00
Delinq_2yrs                      0.00
Earliest_cr_line                 0.00
Inq_last_6mths                   0.00
Mths_since_last_delinq          64.56
Mths_since_last_record          92.90
Open_acc                         0.00
Pub_rec                          0.00
Revol_bal                        0.00
Revol_util                       0.13
Total_acc                        0.00
Initial_list_status              0.00
Out_prncp                        0.00
Out_prncp_inv                    0.00
Total_pymnt                      0.00
Total_pymnt_inv                  0.00
Total_rec_prncp                  0.00
Total_rec_int                    0.00
Total_rec_late_fee               0.00
Recoveries                       0.00
Collection_recovery_fee          0.00
Last_pymnt_d                     0.18
Last_pymnt_amnt                  0.00
Next_pymnt_d                   100.00
Last_credit_pull_d               0.01
Collections_12_mths_ex_med       0.15
Mths_since_last_major_derog    100.00
Policy_code                      0.00
Application_type                 0.00
Annual_inc_joint               100.00
Dti_joint                      100.00
Verification_status_joint      100.00
Acc_now_delinq                   0.00
Tot_coll_amt                   100.00
Tot_cur_bal                    100.00
Open_acc_6m                    100.00
dtype: float64

In [10]:
((df.isna().sum().head(51)/len(df.index))*100).round(2)

Id                               0.00
Member_id                        0.00
Loan_amnt                        0.00
Funded_amnt                      0.00
Funded_amnt_inv                  0.00
Term                             0.00
Int_rate                         0.00
Installment                      0.00
Grade                            0.00
Sub_grade                        0.00
Emp_title                        6.19
Emp_length                       2.68
Home_ownership                   0.00
Annual_inc                       0.00
Verification_status              0.00
Issue_d                          0.00
Loan_status                      0.00
Pymnt_plan                       0.00
Url                              0.00
Desc                            32.47
Purpose                          0.00
Title                            0.03
Zip_code                         0.00
Addr_state                       0.00
Dti                              0.00
Delinq_2yrs                      0.00
Earliest_cr_line                 0.00
Inq_last_6mths                   0.00
Mths_since_last_delinq          64.56
Mths_since_last_record          92.90
Open_acc                         0.00
Pub_rec                          0.00
Revol_bal                        0.00
Revol_util                       0.13
Total_acc                        0.00
Initial_list_status              0.00
Out_prncp                        0.00
Out_prncp_inv                    0.00
Total_pymnt                      0.00
Total_pymnt_inv                  0.00
Total_rec_prncp                  0.00
Total_rec_int                    0.00
Total_rec_late_fee               0.00
Recoveries                       0.00
Collection_recovery_fee          0.00
Last_pymnt_d                     0.18
Last_pymnt_amnt                  0.00
Next_pymnt_d                   100.00
Last_credit_pull_d               0.01
Collections_12_mths_ex_med       0.15
Mths_since_last_major_derog    100.00
dtype: float64

In [11]:
#Removing columns with 100% missing values
df.dropna(how = "all",inplace=True,axis = 1)

In [12]:
df.head()

,Id,Member_id,Loan_amnt,Funded_amnt,Funded_amnt_inv,Term,Int_rate,Installment,Grade,Sub_grade,...,Last_pymnt_amnt,Last_credit_pull_d,Collections_12_mths_ex_med,Policy_code,Application_type,Acc_now_delinq,Chargeoff_within_12_mths,Delinq_amnt,Pub_rec_bankruptcies,Tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,161.03,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [13]:
df.shape

(38577, 56)

Removing following types of variables that do not contribute to the analysis:
>-  Details of the borrowers like id, address,zip code etc.
>-  Variables that are applicable post loan default
>-  Variables that are applicable after the loan is granted
>-  Customer behaviour related variables
>-  Variables having a single value for the whole dataset - public policy, application type, payment plan

In [14]:
df.drop(["Id","Member_id","Loan_amnt","Funded_amnt_inv","Url","Desc","Zip_code","Addr_state","Mths_since_last_delinq","Pymnt_plan","Inq_last_6mths","Initial_list_status",
"Out_prncp_inv","Total_pymnt_inv","Total_rec_prncp","Total_rec_int","Total_rec_late_fee","Collection_recovery_fee","Collections_12_mths_ex_med","Policy_code",
"Application_type","Chargeoff_within_12_mths","Acc_now_delinq","Delinq_amnt","Pub_rec","Revol_util","Open_acc","Tax_liens","Mths_since_last_record","Out_prncp","Recoveries","Last_pymnt_d","Last_pymnt_amnt","Last_credit_pull_d","Revol_bal","Earliest_cr_line","Delinq_2yrs","Total_acc","Total_pymnt"],axis=1,inplace = True)

In [15]:
df.head()

,Funded_amnt,Term,Int_rate,Installment,Grade,Sub_grade,Emp_title,Emp_length,Home_ownership,Annual_inc,Verification_status,Issue_d,Loan_status,Purpose,Title,Dti,Pub_rec_bankruptcies
0,5000,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,Computer,27.65,0.0
1,2500,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,bike,1.00,0.0
2,2400,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,real estate business,8.72,0.0
3,10000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,personel,20.00,0.0
5,5000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Dec-11,Fully Paid,wedding,My wedding loan I promise to pay back,11.20,0.0

In [16]:
df.shape

(38577, 17)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Funded_amnt           38577 non-null  int64
 1   Term                  38577 non-null  object
 2   Int_rate              38577 non-null  object
 3   Installment           38577 non-null  float64
 4   Grade                 38577 non-null  object
 5   Sub_grade             38577 non-null  object
 6   Emp_title             36191 non-null  object
 7   Emp_length            37544 non-null  object
 8   Home_ownership        38577 non-null  object
 9   Annual_inc            38577 non-null  float64
 10  Verification_status   38577 non-null  object
 11  Issue_d               38577 non-null  object
 12  Loan_status           38577 non-null  object
 13  Purpose               38577 non-null  object
 14  Title                 38566 non-null  object
 15  Dti                   38577 non-null  float64
 16  Pub_rec_bankruptcies  37880 non-null  float64
dtypes: float64(4), int64(1), object(12)
memory usage: 5.3+ MB

In [18]:
#Extracting the year of loan issuance
df["Issue_Year"] = df["Issue_d"].apply(lambda x:"20" + x[-2:])

In [19]:
#Extracting the month of loan issuance
df["Issue_Month"] = df["Issue_d"].apply(lambda x:x[0:3])

In [20]:
#Removing the issue_d column as it is no longer needed
df.drop("Issue_d",inplace =True,axis=1)

In [21]:
df.head()

,Funded_amnt,Term,Int_rate,Installment,Grade,Sub_grade,Emp_title,Emp_length,Home_ownership,Annual_inc,Verification_status,Loan_status,Purpose,Title,Dti,Pub_rec_bankruptcies,Issue_Year,Issue_Month
0,5000,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,Computer,27.65,0.0,2011,Dec
1,2500,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,bike,1.00,0.0,2011,Dec
2,2400,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,real estate business,8.72,0.0,2011,Dec
3,10000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,personel,20.00,0.0,2011,Dec
5,5000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Fully Paid,wedding,My wedding loan I promise to pay back,11.20,0.0,2011,Dec

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Funded_amnt           38577 non-null  int64
 1   Term                  38577 non-null  object
 2   Int_rate              38577 non-null  object
 3   Installment           38577 non-null  float64
 4   Grade                 38577 non-null  object
 5   Sub_grade             38577 non-null  object
 6   Emp_title             36191 non-null  object
 7   Emp_length            37544 non-null  object
 8   Home_ownership        38577 non-null  object
 9   Annual_inc            38577 non-null  float64
 10  Verification_status   38577 non-null  object
 11  Loan_status           38577 non-null  object
 12  Purpose               38577 non-null  object
 13  Title                 38566 non-null  object
 14  Dti                   38577 non-null  float64
 15  Pub_rec_bankruptcies  37880 non-null  float64
 16  Issue_Year            38577 non-null  object
 17  Issue_Month           38577 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 5.6+ MB

In [23]:
# Checking the percentage of remaining missing values
((df.isna().sum()/len(df.index))*100).round(2)

Funded_amnt             0.00
Term                    0.00
Int_rate                0.00
Installment             0.00
Grade                   0.00
Sub_grade               0.00
Emp_title               6.19
Emp_length              2.68
Home_ownership          0.00
Annual_inc              0.00
Verification_status     0.00
Loan_status             0.00
Purpose                 0.00
Title                   0.03
Dti                     0.00
Pub_rec_bankruptcies    1.81
Issue_Year              0.00
Issue_Month             0.00
dtype: float64

### Imputation methods to handle missing values

>-  Handling missing values in Emp_title column:

In [30]:
#We can fill the NaN values with string "Not specified" to treat missing values as a separate category as follows:
#df["Emp_title"].fillna("Not specified")
df.Emp_title.value_counts()

US Army                             131
Bank of America                     107
IBM                                  65
AT&T                                 57
Kaiser Permanente                    56
                                   ...
Putnam County School District         1
Liberty Mutual Insurance Company      1
Sparkhound                            1
U.S. Department of State              1
Network One                           1
Name: Emp_title, Length: 28027, dtype: int64

>-  Handling missing values in Emp_length column:

In [44]:
df.Emp_length.value_counts()
#We can fill the NaN values with string "Not specified" to treat missing values as a separate category as follows:  
#df["Emp_length"].fillna("Not specified")

#or we can use mode to fill the missing values as follows:
#mode = df.Emp_length.mode()
#df["Emp_length"].fillna(mode)

10+ years    8488
< 1 year     4508
2 years      4291
3 years      4012
4 years      3342
5 years      3194
1 year       3169
6 years      2168
7 years      1711
8 years      1435
9 years      1226
Name: Emp_length, dtype: int64

>-  Handling missing values in Title column:

In [49]:
df.Title.value_counts()
#We can fill the NaN values with string "Not specified" to treat missing values as a separate category as follows:  
#df["Title"].fillna("Not specified")

#or we can use mode to fill the missing values as follows:
#mode = df.Title.mode()
#df["Title"].fillna(mode)

Debt Consolidation         2090
Debt Consolidation Loan    1620
Personal Loan               641
Consolidation               491
debt consolidation          478
                           ...
cashmoney                     1
moving up                     1
Grants Payoff                 1
Survival                      1
Pickup truck                  1
Name: Title, Length: 19297, dtype: int64

>-  Handling missing values in Pub_rec_bankruptcies column:

In [48]:
df.Pub_rec_bankruptcies.value_counts()
#We can use mode to fill the missing values as follows:
#mode = df.Pub_rec_bankruptcies.mode()
#df["Pub_rec_bankruptcies"].fillna(mode)

0.0    36238
1.0     1637
2.0        5
Name: Pub_rec_bankruptcies, dtype: int64

### Outlier Treatment